/* added a language */
.language {
    font-family: "Azeret Mono", monospace;
}

/* shared style */
.shared-color {
    color: #0D1321;

}

.banner-intro {
    font-size: 16px;
    font-weight: regular;
}

.main-title {
    font-size: 32px;
    font-weight: extra-bold;
}

/* polishing banner */
.banner-title {
    font-size: 48px;
    font-weight: extra-bold;

}

.banner-button {
    background-color: #0D1321;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: semi-bold;
    padding: 8px;
    border: none;
}

.banner-background {
    background-image: url(../assets/Hero-bg.png);
}

.hero-content {
    text-align: center;
    padding: 26px 221px 45px 221px;

}

/* the end */

/* style of main */
/* 
 .main {
    margin-left: 200px;
     margin-right: 200px;} */




.child {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;



}

.section-heading {
    text-align: center;
}

.code {
    font-size: 24px;
    font-weight: bold;
}

.btn-learn {
    font-size: 20;
    font-weight: semi-bold;
    padding: 12px 18px 12px 18px;

}

/*  remove the underline from a link */
a:link {
    text-decoration: none;
}

.explained {
    background-color: #f4f6fa;
    padding: 54px 148px 80px 152px;
    margin: 74px 152px 25px 150px;
}

/* the end */


/* 2nd section starts */

.motivation {
    text-align: center;
}

/* remove bullets */
.list {
    list-style-type: none;
}

/* starts current target */
.html {
    font-size: 24px;
    font-weight: extra-bold;


}

.click {
    text-decoration: underline;
}



.current-father {
    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 10px;



}

.current-child {
    background-color: #EBEBEB;

}

.current-section {

    margin: 200px;
    height: 600px;
    text-align: center;
}
/* the end of main part */

/* starts of footer */
